:root {
    /* Color */
    --background: #e2e3e9;
    --branco: #ffffff;
    --preto: #000000;
    --azul: #4AC6F3;
    --azul2: #319BFF;
    --azul3: #096ac5;
    --vermelho: #FF3131;
    --amarelo: #FFDE59;
    --verde: #7ED957;
    
    /* Tipografia */
    /* ff font family */
    --ff-poppins: "Poppins", sans-serif;

    /* fs font size */
    --fs-40: 2.5rem; /*4x16*/
    --fs-34: 2.125rem;
    --fs-24: 1.5rem;
    --fs-18: 1.125rem;
    --fs-16: 1rem;
    --fs-14: 0.875rem;

    /* fw font weight */
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a,
img,
span,
data,
input,
button,
textarea,
ion-icon {
    display: block;
}

a {
    text-decoration: none;
}

img {
    height: auto;
}

input,
select,
textarea {
    background: none;
    border: none;
    font: inherit;
}

input,
select,
textarea {
    width: 100%;
}

button {
    cursor: pointer;
}

html {
    font-family: var(--ff-poppins);
    scroll-behavior: smooth;
}

ion-icon {
    font-size: 32px;
}

body {
    background: var(--background);
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--branco);
    height: 4.6875rem;
    padding: 1rem 3rem;
}

.logo img {
    height: 36px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.menu a {
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--preto);
}

.menu a:hover {
    background: var(--azul);
    color: var(--branco);
}

.label-menu,
.checkbox {
    display: none;
}

/* Banner */
.banner {
    height: 700px;
    width: 100%;
    /* margin-top: 4.6875rem; */
    color: black;
    text-align: center;
    background-image: url(../img/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
}

.banner-tittle {
    position: absolute;
    left: 50%;
    top: 40%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: var(--fs-40);
    color: var(--branco);
    z-index: 0;
}


.banner-content {
    position: absolute;
    text-align: center;
    font-weight: 400;
    left: 50%;
    top: calc(40% + 60px);
    transform: translateX(-50%);
    font-size: var(--fs-24);
    color: var(--branco);
}

/* OQUE É O TEA */

.cards-section {
    width: 100%;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo-card {
    background-color: var(--azul2);
    height: auto;
    padding: 20px 20px;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.oque-tea {
    background-color: var(--azul);
}

.oque-tittle {
    color: white;
    font-size: var(--fs-40);
}

.card-list {
    padding-top: 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 16px;
}

.card-item {
    border-radius: 21px;
    max-width: 384px;
    height: auto;
    text-align: center;
    background-color: var(--amarelo);
}

.card-link {
    margin-bottom: 0px;
    color: black;
    font-weight: var(--fw-800);
}

.card-link:is(:hover, :focus) {
    color: var(--vermelho);
}

.img-card {
    width: 384px;
    height: 357.44px;
    border-radius: 21px 21px 0 0;
    object-fit: cover;
}

/* CONVIVENDO */
.convivendo-tea {
    background-color: var(--amarelo);
}

.convivendo-tea > .conteudo-card {
    background-color: var(--vermelho);
}

/* RECURSOS E SUPORTE */
.recursos-tea {
    background-color: var(--azul);
}

.recursos-tea > .conteudo-card {
    background-color: var(--azul2);
}

/* FOOTER */
footer {
    text-align: center;
}

footer a {
    color: var(--preto);
}

.footer-top {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.redes-sociais {
    text-align: center;
    list-style: none;
    gap: 21px;
}

.redes-sociais {
    display: flex;
}
/* ARTIGOS GERAL */

.article-p { 
    text-align: justify;
    padding: 10px;
}

.article-topic {
    padding: 15px;
    font-size: var(--fs-18);
    font-family: var(--ff-poppins);
    font-weight: var(--fw-600);
}

.article-list {
    margin-left: 30px;
    margin-bottom: 10px;
}


/* ARTIGOS AMARELO E VERMELHO */

.article-container {
    background-color: #FFDE59;
    height: 100vh;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.article-title {
    padding: 5px;
    margin-bottom: 10px;
    color: var(--branco);
    background-color:#FF3131;
    border-radius: 10px;
    text-align: center;
}

/* ARTIGOS AZUL */

.article-container2 {
    background-color: #4AC6F3;
    height: 100vh;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.article-title2 {
    padding: 5px;
    margin-bottom: 10px;
    color: var(--branco);
    background-color: #319BFF;
    border-radius: 10px;
    text-align: center;
}

.btn-top {
    position: fixed;
    right: 41px;
    bottom: 41px;
    padding: 6px;
    border-radius: 8px;
    color: var(--azul3);
    border: 2px solid var(--azul3);
    background: var(--branco);
    transition: 0.25s ease;
}

/* RESPONSIVIDADE */
@media screen and (max-width: 804px) {
        .menu {
            display: block;
            position: absolute;
            top: 4.6875rem;
            left: 0;
            background: var(--branco);
            text-align: center;
            width: 100%;
            height: 0;
            z-index: 1;
            visibility: hidden;
            overflow-y: hidden;
            transition: 0.5s;
        }
    
        .menu a {
            padding: 1rem 0;
            margin-inline: 1rem;
            border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.16);
            border-radius: 0;
        }
    
        .label-menu {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: var(--branco);
            padding-block: 1rem;
            cursor: pointer;
        }
    
        .hamburger {
            border-top: 0.125rem solid black;
            width: 1.25rem;
        }
    
        .hamburger::before,
        .hamburger::after {
            content: " ";
            display: block;
            width: 1.25rem;
            height: 0.125rem;
            background: black;
            margin-top: 0.3125rem;
            position: relative;
            transition: 0.3s;
        }
    
        .checkbox:checked ~ .menu {
            height: calc(100vh - 4.6875rem);
            visibility: visible;
            overflow-y: auto;
        }
    
        .checkbox:checked ~ .label-menu .hamburger {
            border-top-color: transparent;
        }
    
        .checkbox:checked ~ .label-menu .hamburger::before {
            transform: rotate(135deg);
        }
    
        .checkbox:checked ~ .label-menu .hamburger::after {
            transform: rotate(-135deg);
            top: -0.4375rem;
        }
    
    :root {
        --fs-40: 2.125rem; 
        --fs-24: 1rem;
    }

    .oque-tittle {
        text-align: center;
        text-wrap: wrap;
        min-width: 429px;
    }

    .conteudo-card {
        background-color: var(--azul2);
        padding: 20px 0;
    }

    .card-list {
        align-items: center;
    }

    .banner {
        height: auto;
        padding: 250px 0;
    }

    .banner-tittle {
    text-align: center;
    font-size: var(--fs-40);
    color: var(--branco);
    z-index: 0;
}

    .banner-content {
        display: none;
    }

    .article-container {
        height: auto;
    }

    .article-container2 {
        height: auto;
    }
}